.learn {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 2rem;
  background: #f0f0f0;

  article {

    padding-right: 1rem;
    flex: 0 1 45rem;

    @at-root {
      & .header {
        font-family: 'Bree Serif',serif;
        text-align: center;
        font-weight: bold;
        font-size: 1.5rem;
        letter-spacing: 0.2rem;
        padding-bottom: 1rem;
        color: #727272;
      }
    }
  }

  .media {
    border-radius: 1rem;
    padding: 1rem 1rem;
    border: 3px solid black;
    background: white;
  }

  .media img {
    border-radius: 1rem;
  }
}

.travel {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 2rem;
  background: white;

  @at-root {
    & .media {
      border-radius: 1rem;
      padding: 1rem 1rem;
      border: 3px solid black;
      background: #f0f0f0;
    }

    & .media img{
      border-radius: 1rem;
      height: 18rem;
      border: 2px solid black;
      width: 22rem;
      margin: 0;
    }

    & article {
      flex: 0 1 45rem;


      .header {
        font-family: 'Bree Serif',serif;
        text-align: center;
        font-weight: bold;
        font-size: 1.5rem;
        letter-spacing: 0.2rem;
        padding-bottom: 1rem;
        color: #727272;
      }

      .description {
        padding-left: 1rem;
      }
    }
  }
}

.sign-up {
  background: #f0f0f0;
  text-align: center;
  padding: 3rem 0;

  h2 {
    color: #727272;
    padding: 0;
    text-transform: uppercase;
    font-weight: normal;
  }

  hr {
    width: 10rem;
    margin: auto;
    background: #0d0d0a;
    height: 2px;
    border: none;
  }

  p {
    padding: 0.5rem 0;
    font-size: 0.8rem;
  }

  input[type="email"] {
    background: #b3b3b3;
    border: none;
    border-radius: 3px;
    outline: none;
    height: 3rem;
    width: 35rem;
    font-size: 1.9rem;
    padding-left: 1.3rem;
  }

  input[type="submit"] {
    background-color:#317748;
    background:-webkit-linear-gradient(top, unquote('#052607fa'), unquote('#317748'));
    border: none;
    color: white;
    height: 3rem;
    width: 9rem;
    font-size: 1.9rem;
    cursor: pointer;
    border-radius: 2px;
  }
}