.ingredients-wrapper {
  padding: 4rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  background: #e8e8e8;


  & img {
    padding: var(--spacint-site);
    border-radius: 3rem;
  }

  .ingredients {
    padding: 0;
    flex: 0 1 25rem;

    li {
      list-style: square inside;
      padding-bottom: 0.4rem;
    }
  }


  .method {
    p {

    }

    span {
      font-weight: bold;
      margin-right: 0.5rem;
    }
  }
}