.navigation {

  ul {
    display: flex;
  }

  li {
    display: block;
    list-style: none outside;
    margin: 0 1rem;
  }

  a {
    display: block;
    color: white;
    text-decoration: none;
    font-weight: bold;

    &:hover {
      color: orange;
      animation: fadeIn 0.7s 1 ease alternate;
    }
  }
}

#nav-main-toggle {
  display: none;
}

.nav-toggle {
  & span {
    display: none;
  }
}





