
@mixin breakpointMin($point) {
  @if $point == 'phone' {
    @media(min-width: 500px) {@content; }
  }

  @if $point == 'tablet' {
    @media(min-width: 750px) {@content; }
  }
  @if $point == 'desktop' {
    @media(min-width: 1248px) {@content; }
  }
  @if $point == 'desktop-wide' {
    @media(min-width: 1800px) {@content; }
  }

}
@mixin breakpointMax($point) {
  @if $point == 'phone' {
    @media(max-width: 500px) {@content; }
  }

  @if $point == 'tablet' {
    @media(max-width: 750px) {@content; }
  }
  @if $point == 'desktop' {
    @media(max-width: 1248px) {@content; }
  }
  @if $point == 'desktop-wide' {
    @media(max-width: 1800px) {@content; }
  }

}



@include breakpointMax('phone') {
  .site-header, .site-footer {
    display: flex;
    flex-direction: column;
  }

  .site-branding {
    margin-bottom: 1rem;
  }

  img {
    margin-bottom: 1rem;
  }
}

@include breakpointMax('tablet') {

  .site-header, .site-footer {
    display: flex;
    flex-direction: column;
  }

  .site-branding {
    margin-bottom: 1rem;
  }

  img {
    margin-bottom: 1rem;
  }
}


