<header class="site-header">
    <div class="site-branding">
        <p class="site-title">The Chef's</p>
        <p class="site-description">{{ site.description }}</p>
    </div>
    <div class="logo">
        <img src="{{ site.baseurl }}/images/chef.png" alt="cookChef" alt="cookChef">
    </div>
    <nav class="navigation main">
        <ul class="listings">
            <li><a href="{{ site.baseurl }}/">Home</a></li>
            <li><a href="{{ site.baseurl }}/about/">About</a></li>
            <li><a href="{{ site.baseurl }}/recipies/">Recipies</a></li>
            <li><a href="{{ site.baseurl }}/contacts/">Contacts</a></li>
        </ul>
    </nav>
</header>